.header-section {
  .container {
    background-color: #263238;
  }

  .row {
    div {
      padding-top: 20px;

      &.header-img {
        max-width: 270px;
        padding-top: 15px;
        border-right: 1px solid #455A64;
      }

      h1 {
        color: #CFD8DC;
        margin-left: 20px;
        font-size: 30px;
      }
    }
  }
}
