<div class="row">
  <div class="col project-description-section">
    <h1>Project Description</h1>
    <!-- <ul>
      <li>Neque porro quisquam est qui dolorem ipsum quia</li>
      <li>quisquam est qui dolorem quisquam est qui dolorem </li>
      <li>dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</li>
      <li>est qui dolorem ipsum quia dolor sit amet, consectetur</li>
    </ul> -->

    <!-- <ul role="menubar">
      <li *ngFor="let link of jsonData; let i = index;">
        <ul *ngIf="link.subheader" role="menu">
          <li *ngFor="let x of link.subheader">
            <ul *ngIf="x.project.projectDescription">
              <li [innerHTML]="x.project.projectDescription">
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul> -->


    <!-- <ul *ngFor="let keylist of descriptionlist">
      <li>{{keylist.projectDescription}}</li>
    </ul> -->

    <p>3 tier application architecture provides a model by which developers can create flexible and reusable
      applications. By segregating an application into tiers, developers acquire the option of modifying or adding a
      specific layer, instead of reworking the entire application. A three-tier architecture is typically composed of a
      presentation tier, a domain logic tier, and a data storage tier.</p>
    <ul>
      <li>Time consuming process – One Testing Cycle takes 2</li>
      <li>Resource utilization is high – 2-3 Tester involved for 2 weeks </li>
      <li>Release cycle is slow </li>
      <li>Release cycle is slow </li>
    </ul>
  </div>

  <div class="col demo-section">
    <h1>Demo Video</h1>
    <iframe width="400" height="315" [src]="videoSanitize" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>

<div class="row demo-link-section demo-link-section-inner">
  <div class="col">
    <h2>Demo</h2>
    <p><a href="#">https://preprod.pb.com/signin/youraccount.go?request_locale=en_US#/dashboard</a></p>
  </div>
  <div class="col">
    <h2>Presentation</h2>
    <p><a href="#"> https://preprod.pb.com/signin/youraccount.go?request_locale=en_US#/dashboard </a></p>
  </div>
</div>
